@media (max-width: 991px) {
    .promo {
        padding-bottom: 65px;
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantages {
        &__descr {
            width: 240px;
        }
    }
    .consultation {
        padding-left: 15px;
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &__descr {
            width: 470px;
        }
    }
}
@media (max-width: 768px) {
    .promo {
        min-height: 560px;
        padding-bottom: 25px;
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 10px;
        }
        &__icons {
            width: 365px;
        }
        &__link {
            font-size: 14px;
            margin-top: 8px;
        }
        .button {
            &_main {
                width: 250px;
                height: 45px;
            }
        }
    }
    .header {
        &__logo {
            a {
                width: 200px;
            }
        }
        &__oficial {
            font-size: 12px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .advantages {
        padding: 45px 0 55px 0;
        &__wrapper {
            margin-top: 40px;
            flex-direction: column;
        }
        &__icon {
            margin-top: 15px;
        }
        &__title {
            margin-top: 15px;
        }
        &__descr {
            margin: 0 auto;
            margin-top: 5px;
        }
    }
    .title {
        font-size: 25px;
        &_left {
            text-align: center;
            line-height: 34px;
        }
        &_catalog {
            font-size: 25px;
        }
    }
    .consultation {
        min-height: 570px;
        padding: 50px 0 30px 0;
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 50px;
    }
    .catalog {
        &__content {
            margin-top: 45px;
        }
        &__tab {
            width: 150px;
            height: 45px;
            div {
                font-size: 15px;
                line-height: 45px;
            }
        }
    }
    .catalog-item {
        padding: 15px 15px 5px 15px;
        min-height: 430px;
        &__img {
            height: 175px;
        }
    }
    .reviews {
        &__img {
            margin-right: 30px;
        }
        &__descr {
            width: 282px;
            font-size: 15px;
            line-height: 20px;
        }
    }
    .footer {
        height: 450px;
        iframe {
            height: 450px;
        }
        &__info {
            width: 400px;
        }
        &__social-item {
            &:hover {
                box-shadow: none;
            }
        }
    }
}
@media (max-width: 565px) {
    .promo {
        &__header {
            margin: 60px 0 0 5px;
        }
        &__subheader {
            margin: 5px 0 0 5px;
        }
        &__wrapper {
            align-items: center;
        }
        &__icons {
            width: 290px;
        }
    }
    .header {
        &__oficial {
            display: none;
        }
    }
    .title {
        &_left {
            font-size: 22px;
            line-height: 29px;
        }
    }
    .consultation {
        min-height: 530px;
        &__descr {
            font-size: 16px;
            line-height: 25px;
        }
    }
    .feed-form {
        margin-top: 30px;
        width: 260px;
        input {
            height: 40px;
        }
    }

    .button {
        &:hover {
            box-shadow: none;
            color: #fff;
        }
    }

    .catalog {
        &__tabs {
            flex-wrap: wrap;
            padding: 0;
            margin-top: 25px;
        }
        &__tab {
            width: 275px;
            height: 40px;
            div {
                font-size: 14px;
                line-height: 40px;
            }
        }
    }
    .catalog-item {
        width: 290px;
        &__content {
            &_active {
                margin-right: 10px;
            }
        }
    }
    .reviews {
        &__content {
            flex-wrap: wrap;
        }
        &__img {
            margin: 0;
            img {
                width: 100px;
                height: 100px;
            }
        }
        &__text {
            text-align: center;
        }
    }
    .footer {
        height: 350px;
        iframe {
            height: 350px;
        }
        &__info {
            width: 100%;
            height: 220px;
            padding: 40px 35px 35px 35px;
        }
        &__addr {
            margin-bottom: 22px;
            font-size: 18px;
            line-height: 18px;
        }
        &__phone {
            margin-bottom: 22px;
            font-size: 18px;
            line-height: 18px;
        }
        &__social-item {
            width: 42px;
            height: 42px;
            img {
                height: 20px;
            }
            &:hover {
                box-shadow: none;
            }
        }
    }
}
